## Notebook naming convention:

*XX_description_initials.ipynb*

Where XX = :
- **01**: Data gathering, initial processing, saving to raw data folder
- **02**: Data processing & EDA
- **03**: Individual model
- **04**: Comparing multiple models

In [1]:
# Import python packages
import os
import sys
import pandas as pd

In [2]:
# Add root & src directories to path
root_dir = os.path.join(os.getcwd(), '..')
src_dir = os.path.join(os.getcwd(), '..', 'src')
sys.path.append(root_dir)
sys.path.append(src_dir)

# Import local secrets & functions
from conf.auth_example import api_key
from d00_utils.example import print_hello

In [3]:
print(api_key)

KEY_HERE

In [4]:
print_hello()

Hello

In [5]:
# Load data
df = pd.read_csv('../data/example_current_df.csv', index_col=0)
df

,park_name,reception_time,reference_time,sunrise_time,sunset_time,clouds,rain_1h,snow_1h,wind_speed,wind_deg,humidity,press,temp,temp_feels,temp_max,temp_min,status,detailed_status
0,Prospect Park,1585989513,1585989513,1585996413,1586042608,90,0.25,0,5.1,40,93,1016,46.4,38.7,48.2,44.6,Rain,light rain